#head {
    height: 50px;
    background-color: rgba(15, 11, 31, 0.73);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.menu {
    height: 100%;
}
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

div ul li, .a {
    font-size: 120%;
}
div ul {
    margin-bottom: 0;
}
div ul a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
}
div ul li:hover {
    background: #000000;
}

div ul a:hover {
    color: white;
    text-decoration: none;
}
.login {
    display: inline;
}
.login a {
    color: #CDCDCD;
    text-decoration: none;
}
