<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h3>FORM ĐĂNG KÍ</h3>
<form th:object="${user}" method="post" th:action="@{/result}">
    <table>
        <tr>
            <td>First Name :</td>
            <td><input type="text" th:field="*{firstName}"><p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></p></td>

        </tr>
        <tr>
            <td>Last Name : </td>
            <td><input type="text" th:field="*{lastName}"><br></td>
        </tr>
        <tr>
            <td>Phone Number : </td>
            <td><input type="text" th:field="*{phoneNumber}"><p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></p></td>

        </tr>
        <tr>
            <td>Age : </td>
            <td><input type="text" th:field="*{age}"></td>
        </tr>
        <tr>
            <td>Email : </td>
            <td><input type="text" th:field="*{email}"><br></td>
        </tr>
    </table>



    <br>

    <br>

    <!--    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
    <input type="submit" value="submit">
</form>
</body>
</html>