*{
    margin: 0;
}
.Wole{
    width: 350px;
    margin: auto;
    align-content: center;
}
.Info{
    background-color: chocolate;
    height: 220px;
}
h2{
    margin: 0;
    text-align: center;
}
.Input{
    margin: 0 100px 0 0px;
}
.Send{
    margin: 0 0 0 100px;
}
#Name{
    position: relative;
    left: 30px;
}
#Date{
    position: relative;
    left: 23px;
}
#Address{
    position: relative;
    left: 47px;
}
#Class{
    position: relative;
    left: 66px;
}
#Email{
    position: relative;
    left: 54.5px;
}
#Phonenumber{
    position: relative;
    left: 25.5px;
}
